[buildout]
parts = openerp
versions = versions
find-links = http://download.gna.org/pychart/
             https://github.com/erocarrera/pydot/archive/pydot-1.0.28.zip

[openerp]
recipe = anybox.recipe.odoo:server
version = git https://github.com/OCA/OCB.git odoo 8.0 depth=10
addons = local modules

# OCA
         git https://github.com/OCA/connector.git parts/connector 8.0

# Akretion
         git https://github.com/akretion/server-tools.git parts/server-tools-file 8-file-loc

# Other
         git https://github.com/initOS/connector-interfaces.git parts/connector_flow 8.0-connector_flow


merges = git https://github.com/akretion/server-tools.git parts/server-tools-file 8-attachm-meta
         git https://github.com/akretion/connector-interfaces.git parts/connector_flow external_file_sync


eggs = nose
       ftputil
       xlrd
       fs
       paramiko
#       unidecode

openerp_scripts = nosetests=nosetests command-line-options=-d

[versions]
reportlab = 2.7
pydot = 1.0.28
python-dateutil = 2.4.0
