[buildout]
parts = openerp
versions = versions
find-links = http://download.gna.org/pychart/

[openerp]
recipe = anybox.recipe.odoo:server
version = git https://github.com/OCA/OCB.git odoo 8.0
addons = local modules
         git https://github.com/OCA/server-tools.git parts/server-tools 8.0
eggs = nose
#       unidecode
openerp_scripts = nosetests=nosetests command-line-options=-d

[versions]
#reportlab = 2.7
